html{
    background-color: rgb(106, 90, 197);
    font-family:monospace
}
p{
    color: rgb(209, 54, 137);
}
h1{
    color: rgb(198, 17, 253);
}
ul{
    list-style: circle;
}
a{
    text-decoration: wavy;
}
img{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 15px;
    width: 200px;
    height: 200px;
    margin: 0px;
}
nav{
    margin-left: 0;
    left: 5%;
    display: block;
    font-weight: bold;
    text-align: left;
    position: fixed;
}
body{
    margin-left: 30%;
    width: 900px;
    background-color: rgb(175, 247, 193);
    padding: 0 auto auto auto;
    border: 5px seagreen;
}