html{
    background-color: rgb(245, 223, 245);
    font-family:monospace
}
p{
    color: rgb(209, 54, 137);
}
h1{
    color: rgb(198, 17, 253);
}
ul{
    list-style: circle;
}
a{
    text-decoration: wavy;
}
img{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 15px;
    width: 200px;
    height: 200px;
    margin: 0px;
}
nav{
    margin-right: auto;
    text-align: left;
}
body{
    margin-left: auto;
    width: 900px;
    background-color: yellow;
    padding: 0 auto auto auto;
    border: 5px seagreen;
}